# Pandas
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python language.

In [1]:
import pandas as pd

# Series
Series is a one-dimensional labeled array capable of holding any  data type(integers, strings, floating point numbers, Python objects, etc.) The axis labels are collectively referred to as the index.

In [23]:
fruits = pd.Series(["apple", "pear", "orange", "melon", "kiwi"])
fruits

0     apple
1      pear
2    orange
3     melon
4      kiwi
dtype: object

In [8]:
fruits.apply(str.upper)

0     APPLE
1      PEAR
2    ORANGE
3     MELON
4      KIWI
dtype: object

In [25]:
fruits([True, True, False, False, True])

TypeError: 'Series' object is not callable

In [7]:
numbers = pd.Series([5, 6, 3])
numbers * 2 + 3

0    13
1    15
2     9
dtype: int64

In [26]:
numbers >= 5

0     True
1     True
2    False
dtype: bool

In [27]:
numbers[numbers >= 5]

0    5
1    6
dtype: int64

# DataFrame
DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object. Like Series, DataFrame accepts many different kinds of input:

In [30]:
data = {
    "Name": ["Anders", "Tomas", "Mario"],
    "Age": [42, 46, 36]
}

df = pd.DataFrame(data)
df

     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [31]:
data = [
    {"Name": "Anders", "Age": 42},
    {"Name": "Tomas", "Age": 46},
    {"Name": "Mario", "Age": 36}
]

df = pd.DataFrame(data)
df

     Name  Age
0  Anders   42
1   Tomas   46
2   Mario   36

In [37]:
df["Name"]

0    Anders
1     Tomas
2     Mario
Name: Name, dtype: object

In [41]:
df["Age"] = df["Age"] + 1 # Lägg till 1 på age
df

     Name  Age
0  Anders   44
1   Tomas   48
2   Mario   38

In [43]:
df["Age"] >= 40

0     True
1     True
2    False
Name: Age, dtype: bool

In [44]:
df[df["Age"] >= 40]

     Name  Age
0  Anders   44
1   Tomas   48

In [45]:
str(df)

'     Name  Age\n0  Anders   44\n1   Tomas   48\n2   Mario   38'

In [46]:
print(df)

     Name  Age
0  Anders   44
1   Tomas   48
2   Mario   38