# DataFrame from file

In [1]:
import pandas as pd

In [2]:
pd.read_csv("../Data/students.csv")

                        class   name   email
0    AI23 adam adam@gmail.com    NaN     NaN
1  AI23 kalle kalle@gmail.com    NaN     NaN
2      AI23 eva eva@gmail.com    NaN     NaN

In [4]:
autos = pd.read_json("../Data/autos_json.json")

In [16]:
autos.head(10)
autos.tail()
autos.sample(5)
autos

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,NaN,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,NaN,six,two,5000.0,16500.0,3.47,1,94.5,65.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,std,sedan,3.58,18,8.8,3012,rwd,front,173,ohcv,mpfi,gas,55.5,23,134.0,188.8,volvo,95.0,six,four,5500.0,21485.0,2.87,-1,109.1,68.9
203,turbo,sedan,3.01,26,23.0,3217,rwd,front,145,ohc,idi,diesel,55.5,27,106.0,188.8,volvo,95.0,six,four,4800.0,22470.0,3.40,-1,109.1,68.9
204,turbo,sedan,3.78,19,9.5,3062,rwd,front,141,ohc,mpfi,gas,55.5,25,114.0,188.8,volvo,95.0,four,four,5400.0,22625.0,3.15,-1,109.1,68.9

In [14]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", 6)

In [18]:
rows, columns = autos.shape
print(f"Dataframe has {rows} rows, and {columns} columns.")

Dataframe has 205 rows, and 26 columns.

In [21]:
rows = len(autos)
columns = len(autos.columns)
print(f"Dataframe has {rows} rows, and {columns} columns.")

Dataframe has 205 rows, and 26 columns.

In [22]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   aspiration         205 non-null    object
 1   body-style         205 non-null    object
 2   bore               201 non-null    float64
 3   city-mpg           205 non-null    int64
 4   compression-ratio  205 non-null    float64
 5   curb-weight        205 non-null    int64
 6   drive-wheels       205 non-null    object
 7   engine-location    205 non-null    object
 8   engine-size        205 non-null    int64
 9   engine-type        205 non-null    object
 10  fuel-system        205 non-null    object
 11  fuel-type          205 non-null    object
 12  height             205 non-null    float64
 13  highway-mpg        205 non-null    int64
 14  horsepower         203 non-null    float64
 15  length             205 non-null    float64
 16  make               205 non-null    object
 17  normalized-losses  164 non-null    float64
 18  num-of-cylinders   205 non-null    object
 19  num-of-doors       203 non-null    object
 20  peak-rpm           203 non-null    float64
 21  price              201 non-null    float64
 22  stroke             201 non-null    float64
 23  symboling          205 non-null    int64
 24  wheel-base         205 non-null    float64
 25  width              205 non-null    float64
dtypes: float64(11), int64(5), object(10)
memory usage: 41.8+ KB

## Convert to common formats

In [31]:
# Copy dataframe to clipboard (then use Crtl+V)
autos.to_clipboard()

In [33]:
autos.to_csv("../Data/autos.csv", index=None)
csv_string = autos.to_csv()
print(csv_string[:1000])

,aspiration,body-style,bore,city-mpg,compression-ratio,curb-weight,drive-wheels,engine-location,engine-size,engine-type,fuel-system,fuel-type,height,highway-mpg,horsepower,length,make,normalized-losses,num-of-cylinders,num-of-doors,peak-rpm,price,stroke,symboling,wheel-base,width
0,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,13495.0,2.68,3,88.6,64.1
1,std,convertible,3.47,21,9.0,2548,rwd,front,130,dohc,mpfi,gas,48.8,27,111.0,168.8,alfa-romero,,four,two,5000.0,16500.0,2.68,3,88.6,64.1
2,std,hatchback,2.68,19,9.0,2823,rwd,front,152,ohcv,mpfi,gas,52.4,26,154.0,171.2,alfa-romero,,six,two,5000.0,16500.0,3.47,1,94.5,65.5
3,std,sedan,3.19,24,10.0,2337,fwd,front,109,ohc,mpfi,gas,54.3,30,102.0,176.6,audi,164.0,four,four,5500.0,13950.0,3.4,2,99.8,66.2
4,std,sedan,3.19,18,8.0,2824,4wd,front,136,ohc,mpfi,gas,54.3,22,115.0,176.6,audi,164.0,five,four,5500.0,17450.0,3.4,2,99.4,66.4
5,std,sedan,3.19,19,8.5,2507,fwd,front,136,ohc,m

In [48]:
autos.to_json("../Databehandling-AI23-SEBASTIAN-FREDIN/Data/new_autos.json", orient="records")
json_string = autos.to_json(indent=4, orient="records")
print(json_string[:200])

[
    {
        "aspiration":"std",
        "body-style":"convertible",
        "bore":3.47,
        "city-mpg":21,
        "compression-ratio":9.0,
        "curb-weight":2548,
        "drive-wheels":

In [44]:
my_dict = autos.to_dict(orient="records")
my_dict[0]

{'aspiration': 'std',
 'body-style': 'convertible',
 'bore': 3.47,
 'city-mpg': 21,
 'compression-ratio': 9.0,
 'curb-weight': 2548,
 'drive-wheels': 'rwd',
 'engine-location': 'front',
 'engine-size': 130,
 'engine-type': 'dohc',
 'fuel-system': 'mpfi',
 'fuel-type': 'gas',
 'height': 48.8,
 'highway-mpg': 27,
 'horsepower': 111.0,
 'length': 168.8,
 'make': 'alfa-romero',
 'normalized-losses': nan,
 'num-of-cylinders': 'four',
 'num-of-doors': 'two',
 'peak-rpm': 5000.0,
 'price': 13495.0,
 'stroke': 2.68,
 'symboling': 3,
 'wheel-base': 88.6,
 'width': 64.1}