# Encoding categorical features
Categorical features are non-numerical features with a limtede amount  of possible options.

Before feeding them into most machine-learning algoritms we must convert them into numerical features, using either: 
- **Label encoding:** Each unique category is assigned to a numerical value: 0, 1, 2, 3...
- **One-hot encoding:** A new binary feature is created for each category.

In [11]:
import pandas as pd
import seaborn as sns

In [12]:
titanic = sns.load_dataset("titanic")
titanic.head(1)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.25,S,Third,man,True,NaN,Southampton,no,False

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB

In [4]:
cat_columns = [col for col in titanic.columns if titanic[col].dtype in ["object", "category"]]
cat_columns

['sex', 'embarked', 'class', 'who', 'deck', 'embark_town', 'alive']

In [5]:
df_categories = titanic[cat_columns]
df_categories.head(1)

    sex embarked  class  who deck  embark_town alive
0  male        S  Third  man  NaN  Southampton    no

In [6]:
for cat in cat_columns:
    print(f"{cat}: {df_categories[cat].unique()}")

sex: ['male' 'female']
embarked: ['S' 'C' 'Q' nan]
class: ['Third', 'First', 'Second']
Categories (3, object): ['First', 'Second', 'Third']
who: ['man' 'woman' 'child']
deck: [NaN, 'C', 'E', 'G', 'D', 'A', 'B', 'F']
Categories (7, object): ['A', 'B', 'C', 'D', 'E', 'F', 'G']
embark_town: ['Southampton' 'Cherbourg' 'Queenstown' nan]
alive: ['no' 'yes']

## Label encoding 
Label encoding maps each category into a numerical value. 

Use label encoding if:
- Categories have a natural order
- There are only 2 categories
- Using One-hot encoding leads to a larger number of features

In [7]:
# Manual mapping
titanic["embarked"] = titanic["embarked"].map({"S": 0,"C": 1, "Q": 2})

#### Auto-mapping using Label Encoder from Scikit-learn

In [9]:
from sklearn.preprocessing import LabelEncoder# Use: pipenv install scikit-learn, to install package.
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

titanic["deck_no"] = le.fit_transform(titanic["deck"])

titanic[["deck", "deck_no"]]

ModuleNotFoundError: No module named 'joblib'

### One-hot encoding 
In one-hot encoding, a new binary feature is created for each category, and the value of that feature is set to 1 if the observation belongs to that category, and 0 otherwise.

Use One-hot encoding if:
- Categories have no natural order.
- Numbers of categories are small (but not 2)

In [9]:
titanic.head()
titanic.to_json(../Data)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,0.0,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,1.0,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,0.0,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,0.0,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,0.0,Third,man,True,NaN,Southampton,no,True

In [12]:
titanic = pd.get_dummies(data=titanic, columns=["who"])

### Auto-mapping remaining non-numerical features

In [14]:
cat_columns = [col for col in titanic.columns if titanic[col].dtype in ["object", "category", "bool"]]
cat_columns

['sex',
 'class',
 'adult_male',
 'deck',
 'embark_town',
 'alive',
 'alone',
 'who_child',
 'who_man',
 'who_woman']

In [ ]:
for column in cat_columns:
    titanic[column] = le.