In [5]:
import pandas as pd
import seaborn as sns

In [12]:
titanic = pd.read_json("../Data/titanic_encoded.json")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,0.0,Third,man,True,None,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,1.0,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,0.0,Third,woman,False,None,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,0.0,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,0.0,Third,man,True,None,Southampton,no,True

## Correlation analysis
Correlation analysis is a statistical technique used to examine the strength and direction of the relationship between two or more variables. It involves analyzing the degree to which changes in one variable are associated with changes in another variable.

### Pandas .corr() method
Calculates the correlation coefficents between all pairs of features in a dataframe, and returns a new dataframe with where the number of rows and columns both match the number of columns in the input df.

In [16]:
correlation_matrix = titanic.corr()
correlation_matrix

ValueError: could not convert string to float: 'male'