### Exercise1: ImportPandas 
Q1:

How do you import the Pandas library in Python?

In [1]:
import pandas as pd

### Exercise2: Create a DataFrame

Q2:


Once you've imported Pandas, how can you create a DataFrame from a Python dictionary?

In [ ]:
df = pd.DataFrame()

### Exercise3:ReadDatafromaCSV

Q3:

How can you use Pandas to read data from a CSV-file into a DataFrame?

In [3]:
pd.read_csv("../Data/students.csv")

    class   name              email
0  Anders   AI23   anders@gmail.com
1     Eva   AI23      eva@gmail.com
2   Claes   AI23    claes@gmail.com

### Exercise4: Selecting Data

Let's assume you have a DataFrame named df with columns'Name', 'Age', and 'City'. 
Here are some tasks:

- Select the 'Name' column.
- Select the first 5 rows of the DataFrame.
- Select all rows where 'Age' is greater than 25.
- Select rows where 'City' is 'Gothenburg'.

In [5]:
name_column = df["Name"]

first_five = df.head(5)

age_over_25 = df[df['Age'] > 25]

best_city = df[df['City'] == "Gothenburg"]

NameError: name 'df' is not defined

### Exercise5: Data Filtering and Manipulation

Q1: How can you filter the DataFrame to show only rows where 'Age' is less than 30?

Q2: How can you sort the DataFrame by the 'Age' column in ascending order?

Q3: How do you add a new column 'Salary' with some sample values to the DataFrame?

In [ ]:
#Q1 
age_less_than_30 = df[df['Age'] < 30]

#Q2
sorted_by_age = df.sort_values(by='Age', ascending=True)

#Q3
df.loc[:, 'Salary'] = [50000, 60000, 55000]

### Exercise6: Data Aggregation

Assume you have a DataFrame with a 'Sales' column. Here are some tasks:

Q1: Calculate the total sales.

Q2: Find the average sales.

Q3: Determine the maximum and minimum sales values.

Q4: Group the data by a categorical column(e.g.,'Region') and calculate the total sales in each group.

Q5: How can you group data by a specific column and calculate summary statistics for each group?

In [ ]:
#Q1
total_sales = df['Sales'].sum()

#Q2
average_sales = df['Sales'].mean()

#Q3
maximun_sales = df['Sales'].max()
minimum_sales = df['Sales'].min()

#Q4